@charset "UTF-8";.socialicons{float:left;margin-top:10px}.socialicons
li{display:inline-block}.socialicons li
a{padding:10px;font-size:24px;color:rgb(20,20,20)}.socialicons li a:hover{color:#123465}.member_list .memberList,
.search_results_users_only
.memberList{border-top:1px solid rgb(239, 239, 239)}.findMember
.textCtrl{display:block;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;*width:95%}.hasJs .FloatingContainer
.Notice{display:none}.FloatingContainer{position:fixed;width:300px;z-index:9997;top:auto;right:auto;bottom:0;left:20px}.Notices .Notice
.blockImage{padding:10px
10px 5px 0}.Notices .Notice .blockImage,
.FloatingContainer
.floatingImage{float:right}.Notices .Notice .blockImage img,
.FloatingContainer .floatingImage
img{max-width:48px;max-height:48px}.Notices .hasImage,
.FloatingContainer
.hasImage{margin-right:64px;min-height:52px}.FloatingContainer
.floatingItem{display:block;padding:10px;font-size:11px;position:relative;margin-bottom:20px;border:1px
solid transparent;-webkit-border-radius:6px;-moz-border-radius:6px;-khtml-border-radius:6px;border-radius:6px;-webkit-box-shadow: -1px 1px 3px rgba(0,0,0, 0.25);-moz-box-shadow: -1px 1px 3px rgba(0,0,0, 0.25);-khtml-box-shadow: -1px 1px 3px rgba(0,0,0, 0.25);box-shadow: -1px 1px 3px rgba(0,0,0, 0.25)}.FloatingContainer
.floatingItem.primary{background-color:rgb(255, 255, 255);border-color:rgb(222, 222, 222)}.FloatingContainer
.floatingItem.secondary{color:#123465;background-color:rgb(156, 156, 156);border-color:rgb(203, 203, 203)}.FloatingContainer
.floatingItem.dark{color:#fff;background:black;background:url(rgba.php?r=0&g=0&b=0&a=204);background:rgba(0,0,0, 0.8);_filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000);border-color:#333}.FloatingContainer
.floatingItem.light{color:#000;background:white;background:url(rgba.php?r=255&g=255&b=255&a=204);background:rgba(255,255,255, 0.8);_filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);border-color:#ddd}.FloatingContainer .floatingItem
.title{font-size:14px;padding-bottom:5px;font-weight:bold;display:block}.FloatingContainer .floatingItem
.DismissCtrl{position:static;float:left;margin-right:5px;margin-left: -5px;margin-top: -5px}.Notices{display:none}@media (max-width:800px){.Responsive
.Notice.wide{display:none !important}}@media (max-width:610px){.Responsive
.Notice.medium{display:none !important}}@media (max-width:480px){.Responsive
.Notice.narrow{display:none !important}.Responsive
.FloatingContainer{left:50%;margin-left: -150px}}.hasJs
.Notices.PanelScroller{display:none}.PanelScroller .scrollContainer,
.PanelScrollerOff
.panel{background-color:rgb(25, 175, 126);padding:3px;margin-bottom:10px;-webkit-border-radius:0px;-moz-border-radius:0px;-khtml-border-radius:0px;border-radius:0px;font-size:13pt}.PanelScroller
.PanelContainer{position:relative;clear:both;width:100%;overflow:auto}.hasJs .PanelScroller
.Panels{position:absolute}.PanelScroller
.Panels{clear:both;margin:0;padding:0}.PanelScroller .panel,
.PanelScrollerOff
.panel{overflow:hidden;position:relative;padding:0
!important;padding:10px;color:#FFF}.PanelScroller .panel .noticeContent,
.PanelScrollerOff .panel
.noticeContent{padding:10px}.PanelScroller
.navContainer{margin:-11px 21px 10px;overflow:hidden;zoom:1}.PanelScroller
.navControls{float:left}.PanelScroller
.navControls{zoom:1}.PanelScroller .navControls:after{content:'.';display:block;height:0;clear:both;visibility:hidden}.PanelScroller .navControls
a{font-size:11px;color:rgb(255, 255, 255);background-color:rgb(25, 175, 126);padding:3px
6px 2px;margin-left:3px;margin-right: -1px;float:right;display:block;position:relative;-webkit-border-radius:0px;-moz-border-radius:0px;-khtml-border-radius:0px;border-radius:0px;-webkit-border-radius:0;-moz-border-radius:0;-khtml-border-radius:0;border-radius:0}.PanelScroller .navControls>a:first-child{-webkit-border-bottom-right-radius:0px;-moz-border-radius-bottomright:0px;-khtml-border-bottom-right-radius:0px;border-bottom-right-radius:0px}.PanelScroller .navControls>a:last-child{-webkit-border-bottom-left-radius:0px;-moz-border-radius-bottomleft:0px;-khtml-border-bottom-left-radius:0px;border-bottom-left-radius:0px}.PanelScroller .navControls a:hover{color:rgb(228, 228, 228);text-decoration:none}.PanelScroller .navControls
a.current{}.PanelScroller .navControls a
.arrow{display:none}.PanelScroller .navControls a.current
span{display:block;line-height:0px;width:0px;height:0px;border-top:5px solid rgb(222, 222, 222);border-left:5px solid transparent;border-bottom:1px none black;border-right:5px solid transparent;-moz-border-bottom-colors:rgb(222, 222, 222);position:absolute}.PanelScroller .navControls a.current
.arrow{border-top-color:;top:0px;right:50%;margin-right: -5px}.PanelScroller .navControls a .arrow
span{border-top-color:rgb(25, 175, 126);top: -6px;right: -5px}.Notices .panel
.noticeContent{padding-left:25px}.memberListItem{overflow:hidden;zoom:1}.memberListItem .avatar,
.memberListItem
.icon{float:right}.memberListItem
.extra{font-size:10px;float:left}.memberListItem .extra
.DateTime{display:block}.memberListItem .extra
.bigNumber{font-size:250%;color:rgb(113, 113, 113)}.memberListItem
.member{margin-right:65px}.memberListItem
h3.username{font-weight:bold;font-size:13pt;color:#123465 !important;margin-bottom:3px}.memberListItem
.username.guest{font-style:italic;font-weight:normal}.memberListItem
.userInfo{font-size:10px;margin-bottom:3px}.memberListItem
.userBlurb{}.memberListItem .userBlurb
.userTitle{font-weight:bold}.memberListItem .userStats dt,
.memberListItem .userStats
dd{white-space:nowrap}.memberListItem .member
.contentInfo{margin-top:5px}.memberListItem.extended
.extra{width:200px}.memberListItem.extended
.member{margin-left:210px}
/* CSS returned from cache. */